@use '../../../scss/abstract/mixings' as mixin;


img {

  width: 100%;
  height: auto;

  @include mixin.desktop {
    max-width: 460px;
    height: auto;
  }

  @include mixin.tablet {
    max-width: 460px;
    height: auto;
  }

  @include mixin.smartphone {
    max-width: 460px;
    height: auto;
    }


}
