@use '_variablen.scss' as var;

.btn {
  padding: var.$pd-medium var.$pd-large;
  font-family: var.$font-family;
  font-size: var.$font-size-medium;
  font-weight: var.$font-weight-medium;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  border: unset;

  &.--primary {
    background-color: var.$btn-bg;
    color: var.$btn-text-color;
    font-family: var.$font-family;
    font-size: var.$font-size-lg;

    &:hover {
      background-color: var.$btn-bg;
    }
  }

  &.--secondary {
    background-color: var.$secondary-bg;
    color: var.$secondary-text-color;

    &:hover {
      background-color: var.$secondary-bg;
    }
  }

  &.--generate-btn {
    background-color: var.$primary-bg;
    color: var.$primary-text-color;
    font-family: var.$font-family;
    font-size: var.$font-size-lg;
    padding: var.$pd-medium var.$pd-large;
    border-radius: var.$border-radius;
    width: 200px;

    &:hover {
      background-color: var.$primary-bg;
    }
  }
}

.icon-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 30px;
  padding: 0;

  &:hover {
    background-color: var.$primary-text-color;
    border-radius: var.$border-radius;
  }
}
