$primary-bg: rgb(57, 96, 57);
$secondary-bg: #ffffff;
// -------------------------------
$primary-text-color: #FAF0E6;
$secondary-text-color: #1E5515;
// -------------------------------
$btn-bg: #FAF0E6;
$btn-text-color: #008000;
$input-bg-color: #FAF0E6CC;
// -------------------------------
$font-family: 'quicksand-light-regular', sans-serif;
// -------------------------------
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 20px;
$font-size-xxl: 24px;
$font-size-xxxl: 32px;
$font-size-sub-headline-sm: 24px;
$font-size-sub-headline-md: 48px;
$font-size-headline: 54px;
//-------------------------------
$font-weight-small: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;
$font-weight-large: 700;
//--------------------------------
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 24px;
// -------------------------------
$border-radius: 8px;
$border-radius-xxl: 48px;

// -------------------------------
$border-color: #ccc;
$border: 1px solid $border-color;
// -------------------------------
$mgr-small: 8px;
$mgr-medium: 16px;
$mgr-large: 24px;
$mgr-xll: 32px;
// -------------------------------
$pd-small: 8px;
$pd-medium: 16px;
$pd-large: 24px;
$pd-xxl: 32px;
// -------------------------------
$max-width: 1440px;
