

$primary-bg: #396039;
$primary-text-color: #FAF0E6;
$secondary-bg: #ffffff;
$secondary-text-color: #000;
$btn-bg: #FAF0E6;
$btn-text-color: #008000;
$font-family: 'quicksand-light-regular', sans-serif;
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-headline: 104px;
$font-size-subheadline: 48px;
// -------------------------------
$font-size-sm: 16px;
$font-size-lg: 24px;


$font-weight-small: 400;
$font-weight-medium: 500;
$font-weight-large: 700;
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 24px;
// -------------------------------
$border-radius: 8px;
// -------------------------------
$border-color: #ccc;
$border: 1px solid $border-color;
// -------------------------------
$mgr-small: 8px;
$mgr-medium: 16px;
$mgr-large: 24px;
// -------------------------------
$pd-small: 8px;
$pd-medium: 16px;
$pd-large: 24px;

$max-width: 1920px;
