@use '../../scss/components/variablen' as var;
@use '../../scss/abstract/mixings' as mixin;

.home-content {
  display: grid;
  justify-content: space-between;
  flex-direction: column;
  height: calc(100vh - 169px);
  grid-template-columns: 1.3fr 1fr;

  @include mixin.smartphone {
    @include mixin.flex-between();
    flex-direction: column;
    height: calc(100vh - 100px);
  }

  @include mixin.landscape-min {
    height: 100%;
  }

  .content-left {
    position: relative;
    @include mixin.flex-between();
    flex-direction: column;
    height: calc(100vh - 169px);

    @include mixin.landscape-min {
      height: 100%;
    }

    .top-content {
      flex-direction: column;

      &>h1 {
        margin-top: 0px;
        width: 100%;

        @include mixin.tablet {
          width: 60%;
        }

        @include mixin.smartphone {
          width: 60%;
        }

      }

      @include mixin.desktop {
        margin-top: 0px;
        margin-left: 8px;
        font-size: var.$font-size-md;
        padding: 0;
        height: calc(100vh - 169px);
      }

      @include mixin.tablet {
        margin-top: 0px;
        font-size: var.$font-size-md;
        padding: 0;
        height: calc(100vh - 100px);
      }

      @include mixin.smartphone {
        margin-top: 0px;
        font-size: var.$font-size-md;
        padding: 0;
        height: calc(100vh - 100px);
      }

      .button-content {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 55px;

        @include mixin.tablet {
          position: relative;
          margin-top: 80px;
        }

        @include mixin.smartphone {
          position: relative;
          margin-top: 15px;
        }
      }
    }

    .top-content>p {
      text-align: left;
      width: 100%;

      @include mixin.smartphone {
        font-size: var.$font-size-xxl;
        padding-top: 0px;
        width: 60%;
      }
    }

    .bottom-section {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      text-align: start;
      margin-top: calc(50% - 169px);
      padding-bottom: 0;

      &>p {
        width: 50%;
        text-align: left;
        font-size: clamp(36px, 6vw, 36px);
      }

      @include mixin.desktop-xl {
        margin-top: calc(80% - 132px);
        width: 100%;
      }

      @include mixin.desktop {

        &>p {
          width: 65%;
          text-align: left;
        }

        margin-top: calc(50% - 210px);
      }

      @include mixin.tablet {
        flex-direction: column;
        align-items: flex-start;
        
      }

      @include mixin.smartphone {
        position: relative;
        flex-direction: column;
        align-items: baseline;
        margin-top: 55px;
      }

      @include mixin.landscape-min {
        position: relative;
        flex-direction: column;
        align-items: baseline;
        margin-top: 210px;
      }
    }

    .impressum-link {
      width: 100%;
      text-align: center;
      text-decoration: none;
      font-size: clamp(var.$font-size-md, 2vw, var.$font-size-xl);
      color: var.$primary-text-color;
      margin: 35px 0px 35px 0px;

      &:hover {
        text-decoration: underline;
      }

      @include mixin.tablet {
        position: relative;
        margin-top: 55px;
      }

      @include mixin.smartphone {
        position: relative;
        margin-top: 15px;
        text-align: start;
      }

      @include mixin.landscape-min {
        position: relative;
        margin: 15px 0px 15px 0px;
        text-align: start;
      }
    }
  }

  .content-right {
    @include mixin.flex-start();
    position: relative;

    min-height: 100%;
    height: calc(100vh);
    margin-top: -169px;
    overflow: hidden;

    @include mixin.tablet {
      position: fixed;
      top: 169px;
      right: 0px;
      transform: translate(50%, 0%);
    }

    @include mixin.smartphone {
      position: fixed;
      width: 100%;
      top: 169px;
      right: -50px;
      transform: translate(50%, 0%);
    }


    app-images-component:nth-child(1) {
      height: auto;
      margin-top: -7%;
      max-width: 460px;
      max-height: 460px;
      transform: translateY(0%);

      @include mixin.desktop {
        max-width: 460px;
        max-height: 460px;
      }

      @include mixin.tablet {
        max-width: 460px;
        max-height: 460px;
      }

      @include mixin.smartphone {
        max-width: 460px;
        max-height: 460px;
      }
    }

    app-images-component:nth-child(2) {
      height: auto;
      margin-top: -25%;
      max-width: 460px;
      max-height: 460px;
      transform: translateY(0%);
    }

    app-images-component:nth-child(3) {
      height: auto;
      margin-top: -25%;
      max-width: 460px;
      max-height: 460px;
      transform: translateY(0%);
    }

    app-images-component:nth-child(4) {
      display: none;
      opacity: 0;
      visibility: hidden;
      height: auto;
      margin-top: -20%;
      max-width: 460px;
      max-height: 460px;
      transform: translateY(0%);
    }

    app-images-component:nth-child(5) {
      display: none;
      opacity: 0;
      visibility: hidden;
      height: auto;
      margin-top: -25%;
      max-width: 460px;
      max-height: 460px;
    }

    @include mixin.desktop-xl {
      app-images-component:nth-child(4) {
        display: block;
        opacity: 1;
        visibility: visible;
        max-width: 460px;
        max-height: 460px
      }

      app-images-component:nth-child(5) {
        display: block;
        opacity: 1;
        visibility: visible;
        z-index: 1;
      }
    }

    @include mixin.tablet {
      app-images-component:nth-child(4) {
        display: block;
        opacity: 1;
        visibility: visible;
        max-width: 460px;
        max-height: 460px
      }
    }


    @include mixin.smartphone {
      app-images-component:nth-child(4) {
        display: block;
        opacity: 1;
        visibility: visible;
      }

      app-images-component:nth-child(5) {
        display: block;
        opacity: 1;
        visibility: visible;
      }
    }

  }
}