@use '../abstract/mixings' as flex;
@use '../components/variablen' as var;

.router-link {
  text-decoration: none;
  color: var.$primary-text-color;
  font-family: var.$font-family;
  font-size: 20px;
  font-weight: var.$font-weight-medium;
  width: 50%;
}
