@font-face {
  font-family: 'quicksand-bold-regular';
  src: url(../../assets/fonts/quicksand.bold-regular.otf) format('opentype');
}

@font-face {
  font-family: 'quicksand-book-regular';
  src: url(../../assets/fonts/quicksand.book-regular.otf) format('opentype');
}


@font-face {
  font-family: 'quicksand-light-regular';
  src: url(../../assets/fonts/quicksand.light-regular.otf) format('opentype');
}
