
@use '../../scss/components/variablen' as var;
@use '../../scss/abstract/mixings' as mixin;
@use '../../scss/base/base' as base;

.impressum{
  background-color: var.$secondary-bg;
}

h1{
  font-size: var.$font-size-sub-headline-md;
  color: var.$secondary-text-color;
  margin-bottom: var.$spacing-medium;
}

span{
  font-size: var.$font-size-md;
  color: var.$secondary-text-color;
  line-height: 1.5;
}

a{
  color: var.$secondary-text-color;
  text-decoration: none;
}


.impressum-content{
  @include mixin.flex-column-center();
 align-items: flex-start;
  padding: var.$spacing-large;
  max-width: var.$max-width;
  margin: 0 auto;

  @include mixin.smartphone {
    padding: var.$spacing-medium;
  }
}
a {
    color: var.$secondary-text-color;
  }


&.home-link{
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: var.$font-size-sm;
  margin-bottom: var.$spacing-medium;


  img{
    margin-right: var.$spacing-small;
    width: 24px;
    height: 24px;
  }

  &:hover {
    text-decoration: underline;
  }
}



