@use '../../scss/components/variablen' as var;
@use '../../scss/abstract/mixings' as mixin;

.impressum {
  background-color: var.$secondary-bg;
}

h1 {
  font-size: var.$font-size-sub-headline-md;
  color: var.$secondary-text-color;
  margin-bottom: var.$spacing-medium;

  @include mixin.smartphone {
    font-size: var.$font-size-xxxl;
  }
}

p {
  width: 100%;
  margin: 0;
  font-size: var.$font-size-md;
  color: var.$secondary-text-color;
  line-height: 1.5;
}

a {
  color: var.$secondary-text-color;
  text-decoration: none;
}

.impressum-content {
  @include mixin.flex-column-center();
  align-items: flex-start;
  padding: var.$spacing-large;
  max-width: var.$max-width;
  margin: 0 auto;

  @include mixin.smartphone {
    padding: var.$spacing-medium;
  }
}
