@use 'sass:map';
@use 'sass:meta';

@mixin flex-center(){
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flex-start(){
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

@mixin flex-between(){
    display: flex;
    justify-content: space-between;
}

@mixin flex-end(){
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@mixin flex-column-center(){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flex-around(){
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
@mixin max-width($max-width){
    max-width: $max-width;
    margin: 0 auto;
}

$breakpoints: (
  'x-small':  ( max-width:  420px ),
  'small':  ( max-width:  767px ),
  'medium': ( max-width:  992px ),
  'large':  ( max-width: 1200px ),
  'xxl':  ( max-width: 2024px ),
) !default;

@mixin respond-to($breakpoint) {
  // If the key exists in the map
  @if map.has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media #{meta.inspect(map.get($breakpoints, $breakpoint))} {
      @content;
    }
  }
  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. " + "Available breakpoints are: #{map.keys($breakpoints)}.";
  }
}
