@use 'sass:map';
@use 'sass:meta';

@mixin flex-center(){
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flex-start(){
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

@mixin flex-between(){
    display: flex;
    justify-content: space-between;
}

@mixin flex-end(){
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@mixin flex-column-center(){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flex-around(){
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
@mixin max-width($max-width){
    max-width: $max-width;
    margin: 0 auto;
}

$breakpoints-max: (
  'max-xx-small':  ( min-width:  420px ),
  'max-x-small':  (  max-width:  767px ),
  'max-small':  (  max-width:  991px ),
  'max-medium': (  max-width:  1199px ),
  'max-large':  (  max-width:  2026px ),
) !default;

$breakpoints: (
  'x-small':  ( min-width:  420px ),
  'small':  ( min-width:  767px),
  'medium': ( min-width:  992px),
  'large':  ( min-width: 1390px),
  'xxl':  ( min-width: 2024px),
) !default;

@mixin respond-to($breakpoint) {
  @if map.has-key($breakpoints-max, $breakpoint) {
    @media #{meta.inspect(map.get($breakpoints-max, $breakpoint))} {
      @content;
    }
  } @else if map.has-key($breakpoints, $breakpoint) {
    @media #{meta.inspect(map.get($breakpoints, $breakpoint))} {
      @content;
    }
  } @else {
    @warn "No value found for `#{$breakpoint}`. Available: #{map.keys($breakpoints-max)}, #{map.keys($breakpoints)}.";
  }
}
