/* You can add global styles to this file, and also import other style files */
@use './scss/base/base' as base;
@use './scss/abstract/mixings' as mixin;
@use './scss/components/variablen' as var;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-width: 100%;
  margin: 0;
  box-sizing: border-box;
}

p {
  font-family: var.$font-family;
  font-size: var.$font-size-sub-headline-md;
  margin: 15px 0;
  width: 70%;
}

h1 {
  width: 100%;
  text-align: start;
  font-family: var.$font-family;
  font-size: var.$font-size-headline;
  font-weight: var.$font-weight-large;
  margin: 0;
}

section {
  height: calc(100svh - 100px);
  background-color: var.$primary-bg;
  color: var.$primary-text-color;
  padding: 64px 40px 40px;
}

.content-limited {
  @include mixin.flex-between();
  @include mixin.max-width(var.$max-width);
  width: 100%;
}


@include mixin.respond-to('x-small') {
  section {
    margin-top: 0px;
    margin-left: 0;
    font-size: var.$font-size-md;
    padding: 24px 0 0 0;
  }

  p {
    width: 100%;
    font-size: var.$font-size-sub-headline-sm;
  }
}
